.App {
  width: 100%;
}


.weather-results {
	animation: fadeIn 1s 0.3s forwards;
  opacity: 0;
  padding: 3em 0;
}

.weather-results p {
	font-size: 35px;
  line-height: 1.6;
}

.weather-results .small {
	font-size: 25px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.additional-info {
	display: block;
	width: 100%;
}



.container-loading {
  width: 100%;
  margin: 0 auto;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  padding-top: 10em;
}

.container-loading p {
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

.marker--pulse { 
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #010f26;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(.8);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    
  }
    100% {
    transform: scale(.8);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

.poweredBy {
  font-size: 12px;
  font-family: monospace;
  width: 100%;
  text-align: right;
  display: block;
}